{% extends 'user/base.html' %}
{% load staticfiles %}
{% load mathfilters %}

{% block title %}
  <title>Detalle de la Solicitud</title>
{% endblock %}


{% block body %}
<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <a target="_blank" href="" data-toggle="modal" data-target="#excelModal" class="btn btn-danger btn-sm">
                        Exportar a excel
                    </a>
                    <a target="_blank" href="" data-toggle="modal" data-target="#notificationModal" class="btn btn-success btn-sm">
                        Mensaje masivo
                    </a>
                    <div class="header-button">
                        <div class="account-wrap">
                            <div class="account-item clearfix js-item-menu">
                                <div class="image">
                                    <img src="{% static 'images/logo.png' %}" alt="Logo GEAD" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">Agente</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="{% static 'images/logo.png' %}" alt="Logo GEAD" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">Agente</a>
                                            </h5>
                                            <span class="email">agente@gmail.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="{% url 'users:index' %}">
                                          <i class="zmdi zmdi-power"></i>Salir
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                            <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                                <div class="bg-overlay bg-overlay--blue"></div>
                                <h3>
                                    <i class="zmdi zmdi-account-calendar"></i>Detalle de la Solicitud
                                </h3>
                            </div>
                            <div class="au-inbox-wrap js-inbox-wrap">
                                <div class="au-chat">
                                    <div class="au-chat__title">
                                        <div class="au-chat-info">
                                            <div class="avatar-wrap">
                                                <div class="avatar avatar--small">
                                                  {% if not solicitude.image_url == "" %}
                                                      <!-- <img src="https://gead-app.herokuapp.com/users/media/{{solicitude.image_url}}" > -->
                                                      <img src="{{media}}{{solicitude.image_url}}" >
                                                  {% else %}
                                                      <img src="{% static 'images/logo.png' %}" >
                                                  {% endif %}
                                                </div>
                                            </div>
                                            <span class="nick">
                                                <h5 class="name">{{solicitude.title}}</h5>
                                                <p> Autoridad: {{solicitude.agent.name}}</p>
                                                {% if solicitude.closed %}
                                                  <b style="color: rgb(0, 123, 255);">CERRADO</b>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="au-chat__content">
                                        <div class="recei-mess-wrap">
                                            <span class="mess-time">{{solicitude.date}}</span>
                                                <div class="recei-mess__inner">
                                                    <div class="recei-mess-list">
                                                        <div class="row">
                                                            <div class="col-7">
                                                                <div class="recei-mess">
                                                                    <h4>Detalle de la Solicitud</h4> <br/>
                                                                    <b>Título:</b> {{solicitude.title}} <br/>
                                                                    <b>Emergencia:</b> {{solicitude.emergency}} <br/>
                                                                    <b>Prioridad:</b>

                                                                    {% if solicitude.priority %}
                                                                        {{solicitude.priority}}
                                                                    {% else %}
                                                                        Prioridad no asignada
                                                                    {% endif %}

                                                                    <br/> <br/>
                                                                    <b>Región:</b> {{solicitude.region}} <br/>
                                                                    <b>Provincia:</b> {{solicitude.province}} <br/>
                                                                    <b>Distrito:</b> {{solicitude.district}}

                                                                    <br/><br/>
                                                                    <b>Autoridad:</b> {{solicitude.agent.name}} <br>
                                                                    <b>Email:</b> {{solicitude.agent.email}} <br>
                                                                    <b>Teléfono:</b> XXX XXX XXX
                                                                    <br><br>


                                                                    <h4 class="text-center"> <b> Requerimientos ({{solicitude.item_set.all|length}})</b> </h4><br>
                                                                    <div class="table-responsive table-responsive-data2">
                                                                        <table class="table table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Requerimiento</th>
                                                                                    <th></th>
                                                                                    <th class="text-right">Cantidad</th>
                                                                                </tr>
                                                                            </thead>
                                                                              <tbody>
                                                                                  {% for item in solicitude.item_set.all %}
                                                                                      <tr>
                                                                                          <td>{{item.product}}</td>
                                                                                          <td></td>
                                                                                          <td class="text-right">{{item.total|sub:item.remaining}} / {{item.total}}</td>
                                                                                      </tr>

                                                                                  {% empty %}
                                                                                  <tr><td colspan="3">No se asignaron requerimientos<td></tr>

                                                                                  {% endfor %}
                                                                              </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <br><br>
                                                                    <h4 class="text-center"> <b> Ayudas ({{helps|length}})</b> </h4>
                                                                    <hr>
                                                                    {% for help in helps %}
                                                                      <b> {{help.empresa_focal.name}} </b> <br>
                                                                      <b> {{help.name}} - {{help.RUC_or_DNI}}</b>

                                                                      <div class="table-responsive table-responsive-data2">
                                                                          <table class="table table-striped">
                                                                              <thead>
                                                                                  <tr>
                                                                                      <th>Requerimiento</th>
                                                                                      <th></th>
                                                                                      <th class="text-right">Cantidad</th>
                                                                                  </tr>
                                                                              </thead>
                                                                                <tbody>
                                                                                  <tr>
                                                                                      <td>{{help.item.product}}</td>
                                                                                      <td></td>
                                                                                      <td class="text-right">{{help.amount}}</td>
                                                                                  </tr>
                                                                                </tbody>
                                                                          </table>
                                                                      </div>
                                                                      <br>
                                                                    {% empty %}
                                                                      <p class="text-center"> <b> No hay ayudas realizadas </b> </p>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-5">
                                                                <div class="recei-mess">
                                                                    <h4>Formulario</h4> <br/>
                                                                    <form class="login100-form validate-form" method="post" action="../../detail/{{pk_solicitude}}/">
                                                                        {% csrf_token %}
                                                                        <div class="row form-group">
                                                                          <div class="col col-md-12">
                                                                            <div class="form-group">
                                                                              <label for="exampleInputEmail1">Información del receptor:</label>
                                                                              <input type="text" value="{{solicitude.receiver_name}}" class="form-control" name="name" placeholder="Nombre">
                                                                            </div>
                                                                            <div class="form-group">
                                                                              <input type="number" value="{{solicitude.receiver_dni}}"onKeyPress="if(this.value.length==8) return false;" class="form-control" name="dni" placeholder="DNI">
                                                                            </div>
                                                                            <div class="form-group">
                                                                              <input type="number" value="{{solicitude.receiver_phone}}" onKeyPress="if(this.value.length==9) return false;" class="form-control" name="phone" placeholder="Teléfono">
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                        <div class="row form-group">
                                                                            <div class="col col-md-5">
                                                                                <label for="select" class=" form-control-label">Prioridad</label>
                                                                            </div>
                                                                            <div class="col-md-7">
                                                                                <select required name="select" id="select" class="form-control-sm form-control" required>
                                                                                    <option value="">Seleccionar Prioridad</option>
                                                                                    <option value="Prioridad 1" {% if solicitude.priority == 'Prioridad 1' %} selected {% endif %}>Prioridad 1 (más importante)</option>
                                                                                    <option value="Prioridad 2" {% if solicitude.priority == 'Prioridad 2' %} selected {% endif %}>Prioridad 2</option>
                                                                                    <option value="Prioridad 3" {% if solicitude.priority == 'Prioridad 3' %} selected {% endif %}>Prioridad 3 (menos importante)</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row form-group">
                                                                            <div class="col col-md-12">
                                                                                <div class="form-check">
                                                                                    <div class="checkbox">
                                                                                        <label for="accepted" class="form-check-label ">
                                                                                            <input type="checkbox" id="accepted" name="accepted" {% if solicitude.accepted %}checked="checked"{% endif %} value="True" class="form-check-input">Aceptar Solicitud
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        {% if not solicitude.image_url == "" %}
                                                                          <div class="row form-group">
                                                                              <div class="col col-md-12">
                                                                                  <div class="form-check">
                                                                                      <div class="checkbox">
                                                                                          <label for="imgaccepted" class="form-check-label ">
                                                                                              <input type="checkbox" id="imgaccepted" name="imgaccepted" {% if solicitude.image_accepted %}checked="checked"{% endif %}  value="True" class="form-check-input">Aceptar Imagen
                                                                                          </label>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                        {% endif %}

                                                                        {% if message %}
                                                                            <h5 style="color:red">Debe asignar una prioridad</h5> <br>
                                                                        {% endif %}
                                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                                            Enviar
                                                                        </button>
                                                                    <form/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:20px; margin-bottom:20px">
                                                            <div class="col-7">
                                                                <div class="recei-mess">
                                                                    <h4>Imagen</h4> <br/>
                                                                    {% if not solicitude.image_url == "" %}
                                                                        <!-- <img src="https://gead-app.herokuapp.com/users/media/{{solicitude.image_url}}" > -->
                                                                        <img src="{{media}}{{solicitude.image_url}}" >
                                                                    {% else %}
                                                                        <b>No hay imagen</b><br/>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTAINER-->
{% endblock %}
